<app-nav>
    <br>
    <div class="row text-center">
        <div class="col-md-12">
            <h4>Salas de juego</h4>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
            <mat-card class="hover effect" [routerLink]="['/room']">
                <mat-card-content>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h5>Sala perrona</h5>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</app-nav>